# --------------------------------------------------
#
#  Jackal intermediate files
#
# --------------------------------------------------

# Jackal tries to write errors to this file
error.log
# Settings saved by the admin system
admin_.yaml

# --------------------------------------------------
#
#  Litter
#
# --------------------------------------------------

# --------------------------------------------------
#  Litter caused by OS
# --------------------------------------------------

# .DS_Store is an OSX metadata file
.DS_Store
# desktop.ini is a Windows metadata file
desktop.ini

# --------------------------------------------------
#  Litter caused by IDE(s)
# --------------------------------------------------

# JetBrains
.idea
